@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/sf-pro-text-light-webfont.eot');
	src: url('../fonts/sf-pro-text-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-pro-text-light-webfont.woff2') format('woff2'),
	url('../fonts/sf-pro-text-light-webfont.woff') format('woff'),
	url('../fonts/sf-pro-text-light-webfont.ttf') format('truetype'),
	url('../fonts/sf-pro-text-light-webfont.svg#sf_pro_textlight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/sf-pro-text-lightitalic-webfont.eot');
	src: url('../fonts/sf-pro-text-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-pro-text-lightitalic-webfont.woff2') format('woff2'),
	url('../fonts/sf-pro-text-lightitalic-webfont.woff') format('woff'),
	url('../fonts/sf-pro-text-lightitalic-webfont.ttf') format('truetype'),
	url('../fonts/sf-pro-text-lightitalic-webfont.svg#sf_pro_textlight_italic') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/sf-pro-text-medium-webfont.eot');
	src: url('../fonts/sf-pro-text-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-pro-text-medium-webfont.woff2') format('woff2'),
	url('../fonts/sf-pro-text-medium-webfont.woff') format('woff'),
	url('../fonts/sf-pro-text-medium-webfont.ttf') format('truetype'),
	url('../fonts/sf-pro-text-medium-webfont.svg#sf_pro_textmedium') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/sf-pro-text-mediumitalic-webfont.eot');
	src: url('../fonts/sf-pro-text-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-pro-text-mediumitalic-webfont.woff2') format('woff2'),
	url('../fonts/sf-pro-text-mediumitalic-webfont.woff') format('woff'),
	url('../fonts/sf-pro-text-mediumitalic-webfont.ttf') format('truetype'),
	url('../fonts/sf-pro-text-mediumitalic-webfont.svg#sf_pro_textmedium_italic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/sf-pro-text-regular-webfont.eot');
	src: url('../fonts/sf-pro-text-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-pro-text-regular-webfont.woff2') format('woff2'),
	url('../fonts/sf-pro-text-regular-webfont.woff') format('woff'),
	url('../fonts/sf-pro-text-regular-webfont.ttf') format('truetype'),
	url('../fonts/sf-pro-text-regular-webfont.svg#sf_pro_textregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/sf-pro-text-regularitalic-webfont.eot');
	src: url('../fonts/sf-pro-text-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-pro-text-regularitalic-webfont.woff2') format('woff2'),
	url('../fonts/sf-pro-text-regularitalic-webfont.woff') format('woff'),
	url('../fonts/sf-pro-text-regularitalic-webfont.ttf') format('truetype'),
	url('../fonts/sf-pro-text-regularitalic-webfont.svg#sf_pro_textitalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/sf-pro-text-semibold-webfont.eot');
	src: url('../fonts/sf-pro-text-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-pro-text-semibold-webfont.woff2') format('woff2'),
	url('../fonts/sf-pro-text-semibold-webfont.woff') format('woff'),
	url('../fonts/sf-pro-text-semibold-webfont.ttf') format('truetype'),
	url('../fonts/sf-pro-text-semibold-webfont.svg#sf_pro_textsemibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/sf-pro-text-semibolditalic-webfont.eot');
	src: url('../fonts/sf-pro-text-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-pro-text-semibolditalic-webfont.woff2') format('woff2'),
	url('../fonts/sf-pro-text-semibolditalic-webfont.woff') format('woff'),
	url('../fonts/sf-pro-text-semibolditalic-webfont.ttf') format('truetype'),
	url('../fonts/sf-pro-text-semibolditalic-webfont.svg#sf_pro_textsemibold_italic') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/sf-pro-text-bold-webfont.eot');
	src: url('../fonts/sf-pro-text-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-pro-text-bold-webfont.woff2') format('woff2'),
	url('../fonts/sf-pro-text-bold-webfont.woff') format('woff'),
	url('../fonts/sf-pro-text-bold-webfont.ttf') format('truetype'),
	url('../fonts/sf-pro-text-bold-webfont.svg#sf_pro_textbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/sf-pro-text-bolditalic-webfont.eot');
	src: url('../fonts/sf-pro-text-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-pro-text-bolditalic-webfont.woff2') format('woff2'),
	url('../fonts/sf-pro-text-bolditalic-webfont.woff') format('woff'),
	url('../fonts/sf-pro-text-bolditalic-webfont.ttf') format('truetype'),
	url('../fonts/sf-pro-text-bolditalic-webfont.svg#sf_pro_textbold_italic') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/sf-pro-text-heavy-webfont.eot');
	src: url('../fonts/sf-pro-text-heavy-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-pro-text-heavy-webfont.woff2') format('woff2'),
	url('../fonts/sf-pro-text-heavy-webfont.woff') format('woff'),
	url('../fonts/sf-pro-text-heavy-webfont.ttf') format('truetype'),
	url('../fonts/sf-pro-text-heavy-webfont.svg#sf_pro_textheavy') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'SF Pro';
	src: url('../fonts/sf-pro-text-heavyitalic-webfont.eot');
	src: url('../fonts/sf-pro-text-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/sf-pro-text-heavyitalic-webfont.woff2') format('woff2'),
	url('../fonts/sf-pro-text-heavyitalic-webfont.woff') format('woff'),
	url('../fonts/sf-pro-text-heavyitalic-webfont.ttf') format('truetype'),
	url('../fonts/sf-pro-text-heavyitalic-webfont.svg#sf_pro_textheavy_italic') format('svg');
	font-weight: 900;
	font-style: italic;
}
